.outlet {
  display: flex;
  height: 100%;
  flex: 1;
  background: var(--color-backgroud);
  color: var(--color-text);
}

.info {
  width: 30%;
  transition: 0.3;
  padding: 20px;
  background: #bda933;
  color: var(--color-text);
  min-height: 100vh;
  z-index: 10;
}

.infoHidden {
  display: none;
  transition: 0.3;
  width: 0;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: large;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-text);
}

.description {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
}

.themeToggle {
  position: absolute;
  right: 10px;
  top: 10px;
}